* {
/*   font-family: 'Poppins', sans-serif !important; */
font-family: 'Roboto', sans-serif !important;
}

td, th {
  border: 1px solid #ddd;
  padding: 8px;
}
.search{
  margin: 5px;
  padding: 10px;
  font-size: 17px;
  border: 1px solid grey;
  float: left;
  width: 40%;
  background: #f1f1f1;
  border-radius: 10;
}
